<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/tablenew.css">
<link rel="stylesheet" type="text/css" href="/styles/page.css">
<script type="text/javascript" src="/js/search.js"></script>
</head>
<body>
<input class="hideinput" type="text" id="page" value="<%= page %>" >
<div class="applicationname">NIMO</div>
<% include nav.ejs %>
<div class="main">
	<h1><%= page %> STATS</h1>
	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
	<div class="indextablediv">
		<table id="myTable" border="1">
			<tr class="header"><th><%= page %> name</th><th>Incident count</th></tr>
			<%
			for(var Key in populate) {
       				if(populate[Key]>0){ %>
    					<tr><td><a href="/graph/<%= Key %>"><%= Key %></a></td><td><%= populate[Key] %></td></tr> 
     	       		      <% }
        		}%>
		</table>
	</div>
</div>
</body>
</html>
